/* Google Fonts */
/* "Lato" - Main text */ @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* "Alegreya" - Headers, titles etc. */ @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/* Colour Pallet */
/*
#66BB6A - Green
#1A381B - Dark Green
#B9DFBA - Light Green

#FF7043 - Orange
#521300 - Dark Orange
#FFD0C2 - Light Orange

#FFD54F - Yellow
#523F00 - Dark Yellow
#FFF1C2 - Light Yellow

#141414 - Off Black
#F5F5F5 - Off White
*/

/* Main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

/* Main content styles */


/* Footer styles */
