{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{% block title %}Calorie Tracker{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon/calorie-tracker-favicon.png' %}" type="image/x-icon">
    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/6e20b8d34b.js" crossorigin="anonymous"></script>
    <!-- BootStrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" href="{% url 'index' %}">
                <i class="fas fa-pepper-hot fa-xl pe-2"></i> Calorie Tracker
            </a>
            <!-- Navbar toggler for smaller screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class='collapse navbar-collapse' id='navbarColor'>
                <ul class='navbar-nav me-auto'>
                    <li class='nav-item'>
                        <a class='nav-link' href="{% url 'index' %}">
                            <i class='fas fa-list'></i> Food List
                        </a>
                    </li>

                    <li class='nav-item dropdown'>
                        <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
                            <i class='fas fa-pizza-slice'></i> Food Categories
                        </a>
                        <div class='dropdown-menu'>
                            {% for category in categories %}
                            <a class='dropdown-item' href="{% url 'category_details_view' category.category_name %}">
                                {{ category }} &nbsp;
                                <span class='badge bg-primary'>
                                    {{ category.count_food_by_category }}
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'food_add' %}">
                                <i class='far fa-plus-square'></i> Add Food Item
                            </a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'food_log' %}">
                                <i class='fas fa-utensils'></i> Food Log
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <ul class='navbar-nav ms-auto'>
                    {% if user.is_authenticated %}
                    <li class='nav-item dropdown'>
                        <a class='nav-link dropdown-toggle' data-bs-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
                            <i class='fas fa-user fa-fw fa-lg'></i>
                        </a>
                        <div class='dropdown-menu dropdown-menu-end'>
                            <a class='dropdown-item' href="{% url 'weight_log' %}">
                                <i class='fas fa-user'></i> User Profile
                            </a>
                            <div class='dropdown-divider'></div>
                            <a class='dropdown-item' href="{% url 'logout' %}">
                                <i class='fas fa-sign-out-alt'></i> Log Out
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class='nav-item'>
                        <a class='nav-link' href="{% url 'login' %}">
                            <i class='fas fa-sign-in-alt'></i> Log In
                        </a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="{% url 'register' %}">
                            <i class='fas fa-user-plus'></i> Register
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        <div class='container'>
            {% block body %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class='d-flex align-items-center justify-content-center'>
            <div class='text-center'>
                Copyright &copy; <script>document.write(new Date().getFullYear())</script> JamieBennett-Dev.
            </div>
        </div>
    </footer>

    <!-- BootStrap JS -->
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>