{% extends 'base.html' %}

{% block title %}Calorie Tracker | Weight Log{% endblock %}

{% block body %}
<div>
    <div>

        <h1 class="my-4 d-flex justify-content-center align-items-center" id="page-h1"><i class="fas fa-utensils pe-2"></i>Weight Log</h1>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card mb-0" id="food-log-card-delete">
                    <div class='card-body'>

                        <div class='form-group'>
                            <form method='POST' class="d-flex justify-content-center align-items-center fs-5">
                                {% csrf_token %}

                                Are you sure you want to delete this weight log? 🤔
                                <button type="submit" class="btn ms-2 fs-6" id="cancel">Delete</button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div
                class="col-12 d-flex align-items-center">
                <a href="{% url 'weight_log' %}" class="btn mt-4 fs-5" id="go-back-btn">
                    <i class="fa-solid fa-circle-left pe-2"></i>Go Back
                </a>
            </div>
</div>
{% endblock %}